MONGODB_CONNECTION_STRING = mongodb+srv://kumaranuj7794_db_user:ikjILtc3agIkhXec@cluster0.s8lz5zx.mongodb.net/learnstack?appName=LearnStack

PORT = 9000

JDOODLE_CLIENT_ID = 7c694e7900068e8d8129f1243bbdf30c

JDOODLE_CLIENT_SECRET = a15eca776ec4696433242c96bb5ea1b6f1dc6ae7aa3edadf4a54d76764863138




